@import "./utils/variables";
@import "./components/header";
@import "./components/footer";
@import "./components/button";
@import "./components/cards";
@import "./components/clients";
@import "./components/products";
@import "./components/modal";
@import "./components/team";
@import "./components/order";
@import "./components/portfolio";

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

body {
  font-family: $font-family;
  color: $main-color;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.accent {
  color: $accent-color;
  fill: $accent-color;
}

.grey-background {
  background-color: $button-color;
}
.bottom-border {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid $border-line;
}
