.clients {
  padding-bottom: 94px;

  &__title {
    text-align: center;
    font-weight: $font-big;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    margin-top: 94px;
    color: $main-color;
  }
  &__set {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    &-icon {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      width: 167px;
      height: 92px;
      fill: $clients-icon-color;
      border: 1px solid rgba(175, 177, 184, 1);
      border-radius: 4px;
      transition-property: color border-color transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-icon:hover,
    &:focus-visible {
      fill: $accent-color;
      border-color: $accent-color;
      cursor: pointer;
      transform: scale(1.2);
    }
  }
}

@media screen and (max-width: 480px) {
  .clients__set {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
  }
  .clients__set-icon {
    height: 92px;
    width: 210px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .clients__set-icon {
    height: 92px;
    width: 210px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .clients__set-icon {
    height: 92px;
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__set-icon {
    height: 92px;
    width: 170px;
  }
}
