.page-header {
  display: flex;
  align-items: center;
}
.link-logo {
  font-family: "Raleway";
  font-weight: $font-big;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
  color: $main-color;
}
/* header nav */
.nav-header {
  display: flex;
  font-family: $font-family;
  margin: 0;
  padding: 0;
  gap: 46px;
}
.nav-header__link {
  position: relative;

  font-weight: $font-medium;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $main-color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
.nav-header__link--current {
  position: relative;
  color: $accent-color;

  &::after {
    position: absolute;
    top: 47px;
    width: 100%;
    height: 4px;
    content: "";
    display: block;
    background-color: $accent-color;
    border-radius: 2px;
  }
}

/* header contact */
.contact {
  display: flex;
  flex-direction: row;
  font-weight: $font-medium;
  margin-right: 0;
  &__item:first-child {
    margin-left: 330px;
  }

  &__item:last-child {
    margin-left: 30px;
    margin-right: 0;
  }
  &__icon {
    margin-right: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $secondary-color;
    fill: $secondary-color;
    transition-property: color fill transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
      fill: $accent-color;
      transform: scale(1.2);
    }
  }
}
