.section-products {
  padding-top: 0;
  padding-bottom: 94px;

  &__title {
    text-align: center;
    font-weight: $font-big;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: $main-color;
  }
}
.grid {
  display: flex;

  &__item {
    width: 370px;
  }
}
.products {
  display: flex;
  width: 370px;
  &__picture {
    position: relative;

    & > .products__category {
      position: absolute;
      bottom: 0;
      width: 370px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: $font-big;
      font-size: 14px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $third-color;
      background-color: rgba(47, 48, 58, 0.8);
    }
  }
}
