.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $button-color;

  &__title {
    text-align: center;
    font-weight: $font-big;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: $main-color;
  }
  &__list {
    display: flex;
    gap: 30px;
  }
  &__item {
    width: 270px;
    height: 428px;
  }
  &__image {
    display: block;
  }

  &__information {
    flex-direction: column;
    padding: 30px 32px;
    background-color: $third-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__name {
    font-weight: $font-medium;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
    color: $main-color;
  }
  &__profession {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
    color: $secondary-color;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;

  &__icon {
    border-radius: 4px;
    fill: $third-color;
    transition-property: color fill transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icon:hover,
  &__icon:focus {
    fill: $accent-color;
    --color2: #ffffff;
    cursor: pointer;
    transform: rotate(360deg);
  }
}
