/* fonts */

$font-family: "Roboto", sans-serif;
$font-second: "Raleway", sans-serif;
$font-vbig: 900;
$font-big: 700;
$font-medium: 500;

/* colors */

$main-color: #212121;
$secondary-color: #757575;
$accent-color: #2196f3;
$third-color: #ffffff;
$button-color: #f5f4fa;
$footbar-background-color: #2f303a;
$footbar-contact-color: rgba(255, 255, 255, 0.6);
$border-color: #eeeeee;
$border-line: #ececec;
$clients-icon-color: #afb1b8;
$social-icon: rgba(255, 255, 255, 0.1);
